@model SIUIFTS.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Materia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreMateria)
        </dd>
        <dt class="col-sm-2">
            Profesor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor)
        </dd>
        <dt class="col-sm-2">
            Horario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Turno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MateriaID"class="btn btn-primary">Editar</a> |
    <a asp-action="Index"class="btn btn-secondary">Volver al listado</a>
</div>
