@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Último paso :)</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click acá para finalizar el registro!</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
